
<div class="grid"> 

  <img src="https://picsum.photos/id/237/200/300?random=1"  />
  <img src="https://picsum.photos/200/300?random=2">
  <img src="https://picsum.photos/200/300?random=3">
  <img src="https://picsum.photos/200/300?random=4">
  <img src="https://picsum.photos/200/300?random=5">
  <img src="https://picsum.photos/200/300?random=6">
  <img src="https://picsum.photos/200/300?random=7">
  <img src="https://picsum.photos/200/300?random=8">
  <img src="https://picsum.photos/id/237/200/300?random=9"  />
  <img src="https://picsum.photos/200/300?random=10">
  <img src="https://picsum.photos/200/300?random=11">
  <img src="https://picsum.photos/200/300?random=12">
  <img src="https://picsum.photos/200/300?random=13">
  <img src="https://picsum.photos/200/300?random=14">
  <img src="https://picsum.photos/200/300?random=15">
  <img src="https://picsum.photos/200/300?random=16">

  <div class="loader-placeholder"> Loading placeholder</div>

</div>



<style>

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a,a:hover,a:active,a:visited{
  color:white;
}

nav{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:1rem;
}

a{
  text-align:center;
  background-color:black;
  border-radius:2em;
  padding:0.5rem;  
  img{
    height:1em;
    width:auto;
  }
}

.grid{
  display:grid;
  align-content:center;

  grid-template-columns: repeat( 4, 1fr);
  grid-template-rows: 1fr;

  grid-column-gap: 1em; 
  grid-row-gap:1em;

  // Posicionamiento en caso de espacio libre en padre
  align-content:start;

  //Posicionamiento en el espacio del grid
  justify-items:stretch;
  align-items:start;

  min-height:110vh;
  padding:1rem;


  @media screen and (max-width: 650px) {

    display:flex;
    flex-wrap: wrap;
    justify-content:stretch;
    align-items:center;
    gap:1em;
    padding: 1em;
    & img{
      flex: 1 1 40vw;
    }
  }



}

// .container {
//   grid-template-areas: 
//     "header header header"
//     "footer footer footer";
//   grid-template-rows: [row1-start] 1fr [row1-end row2-start] 25px [row2-end];
//   grid-template-columns: auto 50px auto;    
//


:root {
  --index: 0;
}

img{



  width: 100%;
  height: auto;
  aspect-ratio: auto;


  // Opacity
  opacity:0;
  animation-name: fade-in;
  animation-duration: 2s ;
  animation-fill-mode:forwards;
}  

// img:nth-of-type(1){
//   --index: 1;
//   animation-delay: calc(1s * var(--index));
// }
// img:nth-of-type(2){
//   --index:2;
//   animation-delay: calc(1s * var(--index));

// }
// img:nth-of-type(3){
//   --index:3;
//   animation-delay: calc(1s * var(--index));

// }
// img:nth-of-type(4){
//   --index:4;
//   animation-delay: calc(1s * var(--index));
// }

.loader-placeholder{
  grid-column: span 4;
  text-align:center;
  background-color:yellow;
}


.fade-in-animate{
  animation-name: fade-in;
}

@keyframes fade-in{
  100%{
    opacity:1;
  }
}
</style>


<script>
    

const loaderPlaceHolder = document.querySelector(".loader-placeholder");

const imageSet = document.querySelectorAll("img");
let totalImages = [...imageSet].length;
console.log(`Number of images on fist load ${totalImages}`);


imageSet.forEach(progressiveFadeIn);

function progressiveFadeIn(image, index) {
 
  //console.log(image)
  //add css class with fade-in
  if(!image.classList.contains("fade-in-animate")){
    image.classList.add("fade-in-animate");
    // console.log(image,index)
    image.style.animationDelay = 0.5 * index  + "s";
  }
};


function onScrollLoad(ev){

  console.log("scroll event triggered");
  
  const scrollPercent = getVerticalScrollPercentage(document.body);
  console.log(`Scroll % ${scrollPercent}`)
  if(scrollPercent > 90 ){
    console.log("Scrolled around edge of page, loading more")
    requestAnimationFrame(() => loadImages(12,loaderPlaceHolder));
  }


}



window.addEventListener("scrollend", onScrollLoad);

function loadImages(numberToLoad , beforeHTMLNode){

  const loadImageTemplateHTML =  `https://picsum.photos/200/300?random={{id}}`

console.log(`should be inserting ${numberToLoad} new Images`)
  for( let i = 0; i<numberToLoad; i++){
    
   
    const filledImgSrcTemplate = replaceTemplatePlaceholders(loadImageTemplateHTML,{id:++totalImages});
    
    const imgNode =  document.createElement("img");
    imgNode.src = filledImgSrcTemplate;
    progressiveFadeIn(imgNode, i);
    
    
    const a = beforeHTMLNode.parentNode.insertBefore(imgNode, beforeHTMLNode)
  
     
    
  }
}



// HELPER FUNCTION (to create HTML nodes from string)
function txtToHtmlNode(txt) {
  return document.createRange().createContextualFragment(txt);
}

function replaceTemplatePlaceholders(template, replacements) {
        const placeholderRegex = /{{(.*?)}}/g;

        return template.replace(placeholderRegex, (_, placeholderName) => {
            return replacements[placeholderName.trim()] || "";
        });
    }


// HELPER FUNCTION (to compute scrolled percentage out of a given element), returns 0-100
function getVerticalScrollPercentage( elm ){
  let p = elm.parentNode || document.body
  return (elm.scrollTop || p.scrollTop) / (p.scrollHeight - p.clientHeight ) * 100
}
</script>