---
layout: default
title: sideways accordion
img_Path: https://picsum.photos/id/1025/600/400
teaching_notes: true
info-cards:
  - title: bob
    p: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio velit at non placeat! Illum omnis incidunt architecto ducimus laboriosam ipsum nesciunt repellat neque excepturi error officiis necessitatibus, nemo unde sunt.
  - title: dave
    p: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio velit at non placeat! Illum omnis incidunt architecto ducimus laboriosam ipsum nesciunt repellat neque excepturi error officiis necessitatibus, nemo unde sunt.
  - title: tim
    p: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio velit at non placeat! Illum omnis incidunt architecto ducimus laboriosam ipsum nesciunt repellat neque excepturi error officiis necessitatibus, nemo unde sunt.
  - title: 4
    p: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio velit at non placeat! Illum omnis incidunt architecto ducimus laboriosam ipsum nesciunt repellat neque excepturi error officiis necessitatibus, nemo unde sunt.
  - title: 5
    p: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio velit at non placeat! Illum omnis incidunt architecto ducimus laboriosam ipsum nesciunt repellat neque excepturi error officiis necessitatibus, nemo unde sunt.
  - title: 6
    p: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio velit at non placeat! Illum omnis incidunt architecto ducimus laboriosam ipsum nesciunt repellat neque excepturi error officiis necessitatibus, nemo unde sunt.
  - title: 4
    p: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio velit at non placeat! Illum omnis incidunt architecto ducimus laboriosam ipsum nesciunt repellat neque excepturi error officiis necessitatibus, nemo unde sunt.
  - title: 5
    p: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio velit at non placeat! Illum omnis incidunt architecto ducimus laboriosam ipsum nesciunt repellat neque excepturi error officiis necessitatibus, nemo unde sunt.
  - title: 6
    p: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio velit at non placeat! Illum omnis incidunt architecto ducimus laboriosam ipsum nesciunt repellat neque excepturi error officiis necessitatibus, nemo unde sunt.
---


<section>

  <div class="grid-custom">
    {% for info in page.info-cards %}
      <div class="infoCardHeading" data-count="{{forloop.index0}}"><h3>{{info.title}}</h3></div>
      <div class="infoCardText {% if forloop.first %}active {% endif %}"><p>{{info.p}}</p></div>
    {% endfor %}
  </div>

</section>

<style>

  .grid-custom{
    display: grid;
    /* grid-template-columns: 3rem calc(100% - 18rem) 3rem 0px 3rem 0px 3rem 0px 3rem 0px 3rem 0px; */
    transition: 2s;
    /* width: 1000px; */
    margin: auto;
  }

  .grid-custom > *{
    border: 1px solid #333;
    transition: padding 2s;
  }

  .infoCardText.active,
  .infoCardHeading{
    padding:1rem;
  }

  .infoCardHeading{
    writing-mode: tb;
    text-orientation: upright;
  }

  .infoCardText{
    overflow: hidden;
  }
  .infoCardText p{
    writing-mode: vertical-lr;
text-orientation: upright;
max-height: 50vh;
  }

</style>

<script>
  const grid = document.querySelector('.grid-custom');
  const infoCardHeading = grid.querySelectorAll('.infoCardHeading');
  const root = document.documentElement;
  let newGrid = '';

  function slideGrid() {
    // debugger
    console.log(this.dataset.count);
    
    newGrid = ''
    let chosenCard = this;

    infoCardHeading.forEach(card => {
      if(chosenCard === card) {
        card.nextElementSibling.classList.add('active');
        newGrid = newGrid.concat(` 3rem calc(100% - ${ 3 * infoCardHeading.length }rem) `)
      } else {
        card.nextElementSibling.classList.remove('active');
        newGrid = newGrid.concat(` 3rem 0 `)
      }
    })
    
    console.log(newGrid);
    grid.style.gridTemplateColumns = newGrid;
  }

  infoCardHeading.forEach(card => {
    card.addEventListener('click', slideGrid)
  })


  function initial(){
    infoCardHeading.forEach(card => {
      if (infoCardHeading[0] === card) {
        card.nextElementSibling.classList.add('active');
        newGrid = newGrid.concat(` 3rem calc(100% - ${3 * infoCardHeading.length}rem) `)
      } else {
        card.nextElementSibling.classList.remove('active');
        newGrid = newGrid.concat(` 3rem 0 `)
      }
      grid.style.gridTemplateColumns = newGrid;
    })
  }

  initial()
</script>